html {
    font-family: Mediator;
    font-size: 16px;
}

body {
    background-color: #f2eded;
}

#building-image {
    position: absolute;
    top:-110px
}

#glass-button {
    z-index: 1;
    position: absolute;
    top: 27vw;
    left: 67.3vw;
}

#glass-icon {
    margin: 0 -0.5vw;
    width: 20vw;
    height: auto
}

.bg-custom-blue {
    background-color: #0231ff;
}

h1 {
    font-family: Mediator;
    font-size: 7rem;
    font-weight: bolder;
    text-transform: uppercase;
    font-weight: 900
}

h2 {
    font-family: Mediator;
    font-size: 4rem;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0;
    font-weight: 900
}

h3 {
    font-family: Mediator;
    font-size: 1.5rem;
    font-weight: bold;
}

h4 {
    font-family: Mediator;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.5rem;
    margin: 0;
}

h5 {
    font-family: Mediator;
    font-size: 22px;
    font-weight: bold;
    padding: 0;
}

p {
    font-family: Mediator;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: lighter;
}

.bgimage {
    background-image: url('./images/background-1.png');
    background-size: contain;
    background-repeat: no-repeat
}

.new-nav{
    box-shadow: 0 5px 22px darkgray;
    margin: 1.5rem;
    padding: 0 1.5rem
}

.nav-link {
    font-family: Mediator;
    font-size: 16px;
    font-weight: normal;
    color: black;
    padding: 24px 8px;
    border-bottom: 2px white solid;
}

.nav-link:hover {
    color: black;
    border-bottom: 2px blue solid;
}

.nav-button {
    font-family: Mediator;
    font-size: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #0231ff;
    border-color: #0231ff;
}

.info {
    margin: 40px 0;
}

.main-icon-card {
    box-shadow: 0 16px 35px darkgray;
    font-size: 1.7rem; border-radius: 60px;
    background-color: white;
    height: 80px;
    width: 80px
}

.bg-image-2 {
    background-image: url('./images/background-2.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
}

.header2 {
    margin: 4.5rem 0;
}

.new-card {
    box-shadow: 0 30px 50px darkgray;
}

.card-text {
    font-weight: normal;
    padding: 0;
    margin: 0;
    line-height: 2rem
}

.card-button {
    border-radius: 18px;
    background-color: #0231ff;
    border-color: #0231ff;
    margin-top: 1rem;
    width: 100%
}

.no-rad {
    border-radius: 0;

}

.center {
    background-color: #0231ff;
    border-color: #0231ff;
    box-shadow: 0 20px 35px darkgray;
    width: 100%;
    font-family: Mediator;
    font-size: 1rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
}

.center-white {
    background-color: white;
    border-color: white;
    box-shadow: 0 20px 35px darkblue;
    width: 100%;
    font-family: Mediator;
    font-size: 1rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
}


.button-center {
    margin: 64px 0
}

.button-center-white {
    margin: 32px 0
}

.news-date-text {
    font-size: 1rem;
    font-weight:normal;
    color: #0231ff
}

.news-link {
    margin-bottom: 2rem;
    color: #0231ff;
    font-size: 1rem;
    font-weight: 500
}

.h-p1-5 {
    padding: 0 1.5rem;
}

.h-m1-5 {
    margin: 0 1.5rem;
}

.p0 {
    padding: 0;
}

.p1-5 {
    padding: 1.5rem;
}

.v-m2{
    margin: 2rem 0;
}

.v-m4 {
    margin: 4rem 0;
}

.m0{
    margin:0;
}

.m1 {
    margin-bottom: 1rem
}

.m1-5 {
    margin: 1.5rem;
}

.my-footer {
    padding: 2.5rem
}

.footer-header {
    padding: 0;
    margin-bottom: 1rem;
    font-family: Mediator;
    font-size: 1.125rem;
    font-weight: 700;
    color: #0231ff;
}

.footer-text {
    font-family: Mediator;
    font-size: 1rem;
    font-weight: normal;
    color: black;
}

.footer-icon {
    font-size: 1.7rem;
    color: #0231ff
}
.footer-icon-text {
    padding: 0;
    margin: 0;
    font-family: Mediator;
    font-size: 1.125rem;
    font-weight: 900;
}

@media only screen and (max-width: 1280px) {
    .new-card {
        margin-bottom: 24px;
    }
}

@media only screen and (max-width: 960px) {
    .container {
        max-width: 912px;
    }

    .n-h1{
        font-size: 4.5rem;
    }

    .n-h2{
        font-size: 3rem;
    }

    .n-h5{
        font-size: 1rem;
    }

    .header2 {
        margin-bottom: 2rem
    }

    .card-text {
        font-weight: normal;
        padding: 0;
        margin: 0;
        line-height: 2rem
    }

    .bgimage {
        background-image: url('./images/background-1-mob.png');
        background-size: contain;
        background-repeat: no-repeat
    }

    #building-image {
        display: none;
    }

    #last-block {
        display: flex;
        justify-content: center;
    }

    #glass-button {
        top: 34.42vw;
        left: 66.5vw
    }

    #glass-icon {
        margin: 0;
        width: 19vw;
        height: auto
    }
}



